/*Boilerplate CSS*/
h1 { font-size: 4.5em; }
h1, .vcenter { text-align: center; padding-top: 1em; max-height: 100%; }
.csstransforms h1, .csstransforms .vcenter { padding: 0 48px; position: absolute; left: 0; right: 0; top: 50%;
  -webkit-transform: translate(0, -50%); -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%); transform: translate(0, -50%); }
.vcenter h1 {position: relative; top: auto; padding: 0; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; }
h2 {font-size: 2.25em; padding-top: .5em; margin: 0 0 .66666em 0; border-bottom: 1px solid orange; }
h3 {font-size: 1.4375em; margin-bottom: .30435em; }
h4 {font-size: 1.25em; margin-bottom: .25em; }
h5 {font-size: 1.125em; margin-bottom: .2222em; }
h6 {font-size: 1em; }
img, iframe, video {display: block; max-width: 100%; }
video, iframe, img {display: block; margin: 0 auto; }
p, blockquote, iframe, img, ul, ol, pre, video {margin-bottom: 1em; }
pre {white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 1em; border: 1px solid #888; }
em {font-style: italic; }
li {padding: .25em 0; vertical-align: middle; }
li > ol, li > ul {margin-bottom: inherit; }

/*Slides CSS*/
.deck-container { font-size: 16px; line-height: 1.25; color: #444; }
.slide {-moz-box-sizing: border-box; box-sizing: border-box; width: 100%; }

body { font-family: 'Lato', sans-serif;}
pre {border-color: #ccc; }
code {color: #888; }

.vertalign {position: relative; top: 50%; transform: translateY(-50%);}
#logo { width: 150px; }
#hotkeys { position: fixed; }

blockquote {font-size: 2em; font-style: italic; padding: 1em 2em; color: #000; border-left: 5px solid #ccc; } 
blockquote p {margin: 0; }
blockquote cite {font-size: .5em; font-style: normal; font-weight: bold; color: #888; }

::-moz-selection {background: #c00; color: #fff; }
::selection {background: #c00; color: #fff; }

a, a:hover, a:focus, a:active, a:visited {color: #c00; text-decoration: none; }
a:hover, a:focus {text-decoration: underline; }

.deck-container { font-size: 1.75em; background: #fff; }
.deck-container > .slide {padding: 0 48px; }

.slide .deck-before, .slide .deck-previous {opacity: 0.4; }
.slide .deck-before:not(.deck-child-current) .deck-before, .slide .deck-before:not(.deck-child-current) .deck-previous, .slide .deck-previous:not(.deck-child-current) .deck-before, .slide .deck-previous:not(.deck-child-current) .deck-previous {opacity: 1; }
.slide .deck-child-current {opacity: 1; }

.deck-prev-link, .deck-next-link {background: #ccc; font-family: serif; }
.deck-prev-link, .deck-prev-link:hover, .deck-prev-link:focus, .deck-prev-link:active, .deck-prev-link:visited, .deck-next-link, .deck-next-link:hover, .deck-next-link:focus, .deck-next-link:active, .deck-next-link:visited {color: #fff; }
.deck-prev-link:hover, .deck-prev-link:focus, .deck-next-link:hover, .deck-next-link:focus {background: #c00; text-decoration: none; }
.deck-status {font-size: 1em; }
.deck-menu .slide {background: #eee; }
.deck-menu .deck-current, .no-touch .deck-menu .slide:hover {background: #ddf; }
